* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

$yellow: #FAED26;
// $pink: #6e7e80;
$pink: #AFAFAF;
// $buttonsBackgr: #5A5560;
// $buttonsBackgr: #404076;
$buttonsBackgr: rgb(94, 94, 181);
$itemBackgr: #0c3c66;
$itemBackgr: linear-gradient(180deg, #0e3355 0%, #124775 43%);
$backgrGrad: linear-gradient(180deg, rgba(19, 1, 28, 1) 0%, rgba(161, 97, 189, 1) 43%);
// $backgrGrad: linear-gradient(180deg, rgb(30, 13, 39) 0%, rgb(159, 108, 182) 66%);
$cardShadow: 0px 6px 9px 0px rgb(0, 0, 0, 0.2);

$robotoCon: "Roboto Condensed";

@mixin blockMargin {
  margin-top: 47px;
}