* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

$yellow: #FAED26;
$green: #ffca26;
$pink: #AFAFAF;
$lightblue: #2E7CC0;
$buttonsBackgr: rgb(94, 94, 181);
$itemBackgr: #0c3c66;
// $itemBackgr: #4878a5;
$backgrGrad: #031b42;
$cardShadow: 0px 6px 9px 0px rgb(0, 0, 0, 0.2);

$robotoCon: "Roboto Condensed";

@mixin blockMargin {
  margin-top: 47px;
}