footer {
  .author-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 440px;
    min-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}