footer {
  .author-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 auto;
    max-width: 440px;
    min-width: 300px;
    color: $pink;
    padding: 40px 0;
    white-space: nowrap;

    // @media (max-width: 430px) {
    //   & {
      
    //   }

    // }
  }



}