.main {
  .history-title {
    font-size: 30px;
    font-weight: 300;
  }

  .add-button--log {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logs-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 10vh;

    .log {
      margin-bottom: 20px;
      position: relative;
      background: $itemBackgr;
      border-radius: 30px;
      // padding: 0px 0px 20px 0px;
      max-width: 360px;
      overflow: hidden;
      font-weight: 300;

      img {
        width: 28px;
      }

      .job-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: #FFAB91;
        border-radius: 100px;
        margin-right: 10px;
      }

      .job-icon-container--col0 {
        background-color: #4FC3F7;
      }
      .job-icon-container--col1 {
        background-color: #A4C639;
      }
      .job-icon-container--col2 {
        background-color: #FFEB3B;
      }
      .job-icon-container--col3 {
        background-color: #FF7043;
      }
      .job-icon-container--col4 {
        background-color: #26C6DA;
      }
      .job-icon-container--col5 {
        background-color: #FFA726;
      }
      .job-icon-container--col6 {
        background-color: #BA68C8;
      }
      .job-icon-container--col7 {
        background-color: #FFAB91;
      }

      .job-icon {
        width: 27px;
        height: 27px;
        // filter: invert(80%) sepia(80%) saturate(3132%) hue-rotate(334deg) brightness(105%) contrast(98%);
        // filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(142deg) brightness(119%) contrast(115%);


      }

      .log-name {
        display: flex;
        align-items: center;
        justify-content: start;
        color: rgb(255, 255, 255);
        font-size: 26px;
        text-align: center;
        margin-top: 15px;
        margin-left: 31px;
        margin-bottom: 14px;
      }

      .log-date,
      .log-next,
      .log-mileage {
        display: flex;
        align-items: center;
        column-gap: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        color: #2A2A2A;
        font-size: 23px;
        padding: 20px 19px 0 19px;
        width: inherit;
        position: relative;
      }

      .log-next {
        font-size: 23px;
        padding-bottom: 50px;
      }

      .trash-img {
        position: absolute;
        bottom: 10px;
        right: 20px;
        filter: invert(25%) sepia(99%) saturate(4529%) hue-rotate(360deg) brightness(100%) contrast(110%);
        cursor: pointer;
      }
    }
  }

  .remove-btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ad3131;
    border: none;
    font-size: 25px;
    color: white;
    font-style: normal;
    font-weight: 300;
    border-radius: 40px;
    padding: 9px 20px;
    cursor: pointer;
  }

  .car-removed-notif {
    display: none;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 30px;
    position: fixed;
    padding: 18px 42px;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    background-color: rgba(221, 42, 45, 0.91);

    &--open {
      display: flex;
    }
  }

  .car-remove-dialogue {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background-color: $lightblue;
    border-radius: 30px;
    width: 375px;
    height: 120px;
    overflow: hidden;

    &--open {
      display: flex;
    }


    .dialogue-carname {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .option-button {
        color: white;
        font-size: 25px;
        background-color: transparent;
        border: none;
        width: 100%;
        cursor: pointer;
      }
    }
  }

}