.main {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    background-color: $titlesBackgr;
    border-radius: 20px;
    height: 100px;
    width: 100%;


    .oiler-icon {
      width: 74px;
      filter: invert(80%) sepia(26%) saturate(4931%) hue-rotate(357deg) brightness(103%) contrast(108%);
      margin-right: 10px;
      cursor: pointer;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__name {
      font-size: 40px;
      color: $yellow;
      font-family: kodchasan, sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    &__subname {
      font-size: 24px;
      color: $pink;
    }
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    padding: 0 30px;
    background-color: $titlesBackgr;
    background-color: $backgrGrad;
    // box-shadow: 0px 0px 10px 20px rgba(4, 24, 56, 0.842);
    // box-shadow: 0px 0px 20px 17px rgba(4, 24, 56, 0.96);
    border-radius: 20px;
    height: 70px;

    .back-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      font-size: 25px;
      color: white;
      font-style: normal;
      font-weight: 300;
      border-radius: 40px;
      padding: 9px 10px;
      padding-right: 20px;
      cursor: pointer;
      // box-shadow: $cardShadow;

      .left-icon {
        font-size: 50px;
      }
    }

    .date-time {
      font-size: 23px;
      word-spacing: 13px;
    }
  }

  .subtitle {
    color: white;
    font-size: 30px;
    margin-top: 25px;
  }

  .car-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $pink;
    margin-top: 20px;

    .car-icon {
      filter: invert(84%) sepia(1%) saturate(0%) hue-rotate(237deg) brightness(87%) contrast(81%);
      ;
    }

    .car-name {
      font-size: 27px;
      margin-top: -12px;
    }

    .car-vin {
      text-transform: uppercase;
      font-size: 22px;
    }
  }
}