@import 'config';
@import 'index';
@import 'addCar';
@import 'jobType';
@import 'maintLog';
@import 'titles';
@import 'footer';
html {
  background-color: rgb(10, 3, 24);
}
body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-color: #46344E;
  // background-color: #4C3158;
  background: $backgrGrad no-repeat center;
  background-attachment: fixed;
  font-family: $robotoCon;
  color: white;
  min-height: 100vh;
  // padding-bottom: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 440px;
  min-width: 300px;
  font-weight: 300;
  margin: 0 auto;
  min-height: 100vh;
}